@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Georgian:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Georgian:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Georgian:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Georgian:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import '../mixins/video.css';
@import '../mixins/loader.css';
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 99, 71, 0);
  padding: 20px 0 40px 0;
}
header > a {
  font-family: "Anton", sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: rgba(226, 223, 223, 0.549);
  font-family: "Anton", sans-serif;
  text-decoration: none;
}
header > div .desktop-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 7px 40px;
  background-color: #F5F5F5;
  gap: 10px;
  opacity: 0.6;
}
header > div .desktop-search input[type=text] {
  border: none;
  outline: none;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  color: black;
  background-color: #F5F5F5;
}
header > div .desktop-search button {
  border: none;
}
header > div .desktop-search button a img {
  height: 15px;
}
header > div .error-message {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  color: #FFA34E;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
}
main .city_prop {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
main .city_prop article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 20px 40px;
}
main .city_prop article .currentCity {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
main .city_prop article .cityDegree {
  font-family: "Roboto Mono", monospace;
  font-size: 3.75rem;
  font-weight: 700;
  color: #FFA34E;
}
main .city_prop article .weatherDescription {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
main .city_prop article .airQuality {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
main .city_prop article .airQuality .air-quality-status {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 700;
  color: #FFA34E;
}
main .city_prop > :nth-child(2) {
  gap: 20px;
}
main .weather_details {
  width: 80%;
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
main .weather_details > :nth-child(1) {
  width: 35%;
}
main .weather_details > :nth-child(2) {
  width: 70%;
}
main .weather_details > div {
  height: 100%;
}
main .weather_details > div h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding: 0 0 20px 30px;
}
main .weather_details > div ul {
  height: 100%;
  padding: 0 0 0 -40px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
main .weather_details > div .dayly-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2fr, auto);
}
main .weather_details > div .dayly-details > li {
  padding: 10px;
  margin: 5px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
main .weather_details > div .dayly-details > li > :nth-child(1) {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
main .weather_details > div .dayly-details > li > img {
  width: 40px;
}
main .weather_details > div .dayly-details > li > :nth-child(3) {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 700;
  color: #FFA34E;
}
main .weather_details > div .dayly-details > li:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(255, 255, 255, 0.0784313725);
  transform: scale(1.01);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
main .weather_details > div .week-weather {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1fr, auto);
}
main .weather_details > div .week-weather > li {
  list-style: none;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px 0;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
main .weather_details > div .week-weather > li > :nth-child(1) {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
main .weather_details > div .week-weather > li > img {
  width: 40px;
}
main .weather_details > div .week-weather > li > :nth-child(3) {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  color: #FFA34E;
}
main .weather_details > div .week-weather > li .sunset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}
main .weather_details > div .week-weather > li .sunset > :nth-child(1) {
  padding: 5px;
  font-size: 12px;
}
main .weather_details > div .week-weather > li .sunset > div > img {
  padding: 5px 10px;
}
main .weather_details > div .week-weather > li:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(255, 255, 255, 0.0784313725);
  transform: scale(1.01);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1024px) {
  header {
    flex-direction: row;
  }
  main {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    gap: 60px;
  }
  main .weather_details {
    gap: 90px;
  }
  .city_prop {
    width: 80%;
    height: auto;
    padding: 0px;
    gap: 15px;
  }
  .city_prop article {
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .weather_details {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .weather_details > div {
    width: 100% !important;
  }
  .weather_details .week-weather {
    display: flex;
    overflow-x: auto;
    padding-bottom: 15px;
    -webkit-overflow-scrolling: touch;
  }
  .weather_details .week-weather::-webkit-scrollbar {
    height: 5px;
  }
  .weather_details .week-weather::-webkit-scrollbar-thumb {
    background-color: rgba(255, 163, 78, 0.7);
    border-radius: 10px;
  }
  .weather_details .week-weather::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }
  .weather_details .week-weather > li {
    flex: 0 0 115px;
    margin: 10px;
  }
  .weather_details .week-weather > li .sunset > div > img {
    padding: 5px 0 !important;
  }
}
@media (max-width: 768px) {
  header {
    height: auto;
    gap: 20px;
    padding: 20px 0;
  }
  header .desktop-search {
    padding: 7px 40px;
  }
  main {
    width: 100%;
  }
  .city_prop {
    flex-direction: row;
  }
  .city_prop article {
    padding: 0;
    align-items: center !important;
  }
  .city_prop article .currentCity {
    font-size: 1.375rem;
  }
  .city_prop article .cityDegree {
    font-size: 3.25rem;
  }
  .city_prop article .dayWeather,
  .city_prop article .airQuality {
    font-size: 0.9375rem;
  }
  .weather_details h2 {
    padding: 0 0 15px 15px;
    font-size: 18px;
  }
  .weather_details .dayly-details {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .weather_details .dayly-details > li {
    padding: 15px 10px;
  }
  .weather_details .dayly-details > li > img {
    width: 35px;
  }
  .week-weather {
    gap: 0;
  }
  .week-weather li {
    width: 80px;
    padding: 10px 0;
  }
  .week-weather li .sunset > div > img {
    padding: 5px 0 !important;
  }
}
@media (max-width: 480px) {
  header {
    flex-direction: column;
  }
  header > a {
    font-size: 26px;
  }
  main {
    gap: 10px !important;
  }
  .city_prop {
    flex-direction: column;
  }
  .city_prop article {
    padding: 1px;
    align-items: center !important;
  }
  .weather_details {
    gap: 30px !important;
  }
  .weather_details .dayly-details {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .week-weather > li {
    flex: 0 0 105px;
  }
  .week-weather {
    gap: 0;
  }
  .week-weather li {
    width: 102px;
    padding: 10px 0;
  }
  .week-weather li .sunset > div > img {
    padding: 5px 0 !important;
  }
}/*# sourceMappingURL=styles.css.map */